<!DOCTYPE html>
<html>
<head>
    <title>BI Embed Test</title>
</head>
<body>
<h1>BI Embed Test</h1>
<iframe title="CU SALES REPORT 2024" width="1140" height="541.25"
        src="https://app.powerbi.com/view?r=eyJrIjoiMDYwYWYzMWItNWJlZi00NTg2LWE0OWItNTlmODA5MzY2MzA1IiwidCI6ImJkZTY4YTRhLWE5YmEtNGIxYS05N2Y1LTQ2ZjNiOWY4ZjhjYyIsImMiOjEwfQ%3D%3D%22"
        frameborder="0" allowFullScreen="true"></iframe>

{#    <ul>#}
{#        {% for user in users %}#}
{#            <li>{{ user.username }} - Groups: {{ user.groups.all|join:", " }}</li>#}
{#        {% endfor %}#}
{#    </ul>#}
</body>
</html>