{% load event_tags %}
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>PP Management</title>
    <link rel="shortcut icon" type="/static/images/favicon.png" href="/static/images/favicon.png"/>
    {#    <link rel="stylesheet" type="text/css"#}
    {#          href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"/>#}
    {#    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.0/css/jquery.dataTables.min.css"/>#}
    {#    <!-- Stylesheets -->#}
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet"
          type="text/css">
    <link href="/static/css/icons/icomoon/styles.css" rel="stylesheet" type="text/css">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/static/css/bootstrap_limitless.min.css" rel="stylesheet" type="text/css">
    <link href="/static/css/layout.min.css" rel="stylesheet" type="text/css">
    <link href="/static/css/components.min.css" rel="stylesheet" type="text/css">
    <link href="/static/css/colors.min.css" rel="stylesheet" type="text/css">
    <link href="/static/css/custom.css" rel="stylesheet" type="text/css">
    <!-- /stylesheets -->

    <!-- Core JS files -->
    <script src="/static/js/main/jquery.min.js"></script>
    <script src="/static/js/main/bootstrap.bundle.min.js"></script>
    <script src="/static/js/plugins/loaders/blockui.min.js"></script>
    <!-- /core JS files -->

    <!-- Theme JS files -->
    <script src="/static/js/plugins/visualization/d3/d3.min.js"></script>
    <script src="/static/js/plugins/visualization/d3/d3_tooltip.js"></script>
    <script src="/static/js/plugins/forms/styling/switchery.min.js"></script>
    <script src="/static/js/plugins/forms/selects/bootstrap_multiselect.js"></script>
    <script src="/static/js/plugins/ui/moment/moment.min.js"></script>
    <script src="/static/js/plugins/pickers/anytime.min.js"></script>
    <script src="/static/js/plugins/pickers/daterangepicker.js"></script>
    <script src="/static/js/plugins/sliders/ion_rangeslider.min.js"></script>
    <script src="/static/js/plugins/forms/styling/uniform.min.js"></script>
    <script src="/static/js/plugins/forms/selects/select2.min.js"></script>
    <script src="/static/js/plugins/media/fancybox.min.js"></script>
    {#    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>#}
    {#    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>#}
    {#    <script src="https://cdn.datatables.net/1.12.0/js/jquery.dataTables.min.js"></script>#}
    {#    <script>#}
    {#        $(document).ready(function () {#}
    {#            $('#bootstrapdatatable').DataTable({#}
    {#                    "aLengthMenu": [[3, 5, 10, 25, -1], [3, 5, 10, 25, "All"]],#}
    {#                    "iDisplayLength": 10#}
    {#                }#}
    {#            );#}
    {#        });#}
    {#    </script>#}

    <script src="/static/js/app.js"></script>
    <script src="/static/js/custom.js"></script>
    <!-- /theme JS files -->
</head>

<body class="navbar-top">

<!-- Main navbar -->
<div class="navbar navbar-expand-md navbar-dark bg-purple fixed-top">
    {#    <div class="navbar-brand">#}
    {#        <a href="{% url 'map' %}" class="d-inline-block">#}
    {#            <img src="/static/images/logo.png" alt="xbook logo">#}
    {#        </a>#}
    {#    </div>#}
    <div class="navbar-brand">
        {% if user.is_authenticated %}
            {% is_in_event_group as user_in_event_group %}
            {% is_in_license_group as user_in_license_group %}
            {% is_in_rent_group as user_in_rent_group %}
            {% is_in_store_trainer_group as user_in_store_trainer_group %}
            {% is_in_store_consultant_group as user_in_store_consultant_group %}
            {% is_in_area_group as user_in_area_group %}
            {% is_in_sc_direct_group as user_in_sc_direct_group %}
            {% if user.is_superuser %}
                <a href="{% url 'map' %}" class="d-inline-block">
                    <img src="/static/images/logo.png" alt="xbook logo">
                </a>
            {% elif user_in_event_group %}
                <a href="{% url 'event_index' %}" class="d-inline-block">
                    <img src="/static/images/logo.png" alt="xbook logo">
                </a>
            {% elif user_in_license_group %}
                <a href="{% url 'index' %}" class="d-inline-block">
                    <img src="/static/images/logo.png" alt="xbook logo">
                </a>
            {% elif user_in_rent_group %}
                <a href="{% url 'rent_index' %}" class="d-inline-block">
                    <img src="/static/images/logo.png" alt="xbook logo">
                </a>
            {% elif user_in_store_trainer_group %}
                <a href="{% url 'st-index' %}" class="d-inline-block">
                    <img src="/static/images/logo.png" alt="xbook logo">
                </a>
            {% elif user_in_store_consultant_group or user_in_area_group or user_in_sc_direct_group %}
                <a href="{% url 'store-index' %}" class="d-inline-block">
                    <img src="/static/images/logo.png" alt="xbook logo">
                </a>
            {% else %}
                <a href="{% url 'map' %}" class="d-inline-block">
                    <img src="/static/images/logo.png" alt="xbook logo">
                </a>
            {% endif %}
        {% else %}
            <!-- Your code for non-authenticated users -->
        {% endif %}
    </div>

    <div class="d-md-none">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-mobile"
                aria-expanded="true">
            <i class="icon-menu"></i>
        </button>
    </div>

    <div class="collapse navbar-collapse" id="navbar-mobile">
        {% if user.is_authenticated %}

            <ul class="navbar-nav ml-md-auto">
                {% is_in_store_consultant_group as user_in_store_consultant_group %}
                {% is_in_area_group as user_in_area_group %}
                {% is_in_sc_direct_group as user_in_sc_direct_group %}
                {% if user_in_store_consultant_group and user_in_area_group and user_in_sc_direct_group %}
                    <li>
                        <a href="{% url 'store-index' %}" class="navbar-nav-link">
                            <i class="icon-store mr-1"></i>
                            <span>Store Consultant</span>
                        </a>
                    </li>
                {% endif %}
                {% is_in_store_trainer_group as user_in_store_trainer_group %}
                {% if user_in_store_trainer_group %}
                    <li>
                        <a href="{% url 'st-index' %}" class="navbar-nav-link">
                            <i class="icon-store2 mr-1"></i>
                            <span>Store Trainer</span>
                        </a>
                    </li>
                {% endif %}
                {% is_in_rent_group as user_in_rent_group %}
                {% if user_in_rent_group %}
                    <li>
                        <a href="{% url 'rent_index' %}" class="navbar-nav-link">
                            <i class="icon-file-check mr-1"></i>
                            <span>Rent</span>
                        </a>
                    </li>
                {% endif %}
                {% is_in_event_group as user_in_event_group %}
                {% if user_in_event_group %}
                    <li>
                        <a href="{% url 'event_index' %}" class="navbar-nav-link">
                            <i class="icon-calendar mr-1"></i>
                            <span>Daily Log</span>
                        </a>
                    </li>
                {% endif %}
                {% is_in_license_group as user_in_license_group %}
                {% if user_in_license_group %}
                    <li class="nav-item">
                        <a href="{% url 'index' %}" class="navbar-nav-link">
                            <i class="icon-add mr-1"></i>
                            <span>License</span>
                        </a>
                    </li>
                {% endif %}
                {% is_in_store_planner_group as user_in_store_planner_group %}
                {% is_in_manager_group as user_in_manager_group %}
                <!-- Assume you have a similar tag for checking manager group or superuser status -->

                {% if user_in_store_planner_group or user_in_manager_group %}
                    <li class="nav-item">
                        <a href="{% url 'map' %}" class="navbar-nav-link">
                            <i class="icon-location4 mr-1"></i>
                            <span>Points</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'point_create' %}" class="navbar-nav-link">
                            <i class="icon-plus22 mr-1"></i>
                            <span>Add Point</span>
                        </a>
                    </li>
                {% endif %}
                {% if user.is_superuser %}
                    <li class="nav-item">
                        <a href="/admin/" class="navbar-nav-link">
                            <i class="icon-cog mr-1"></i>
                            <span>Settings</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'sc-index' %}" class="navbar-nav-link">
                            <i class="icon-database-edit2 mr-1"></i>
                            <span>SC & Store Allocation</span>
                        </a>
                    </li>

                {% endif %}
                <li class="nav-item">
                    <a href="{% url 'password_change' %}" class="navbar-nav-link">
                        <i class="icon-key mr-1"></i>
                        <span>Change Password</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'logout' %}" class="navbar-nav-link">
                        <i class="icon-switch2 mr-1"></i>
                        <span>Sign out</span>
                    </a>
                </li>
            </ul>
        {% endif %}
    </div>
</div>
<!-- /main navbar -->

<!-- Page content -->
<div class="page-content">
    <!-- Main content -->
    <div class="content-wrapper">
        {% block header %}
        {% endblock %}

        {% block content %}
        {% endblock %}

        {% block footer %}
        {% endblock %}
    </div>
</div>
<!-- /page content -->

</body>
</html>
