{% if widget.is_initial %}
    <div class="input-group">
        <div class="input-group-prepend">
            <a href="{{ widget.value.url }}" target="_blank" class="btn btn-light btn-icon">
                <i class="icon-file-download text-purple"></i>
            </a>
        </div>
        <input type="{{ widget.type }}" name="{{ widget.name }}"{% include "django/forms/widgets/attrs.html" %} />
        <div class="input-group-append">
            <div class="input-group-text">
                <input type="checkbox" class="form-control-styled" name="{{ widget.checkbox_name }}" id="{{ widget.checkbox_id }}">
                <label class="text-size-mini m-0 ml-1" for="{{ widget.checkbox_id }}">Delete</label>
            </div>
        </div>
    </div>
{% else %}
    <input type="{{ widget.type }}" name="{{ widget.name }}"{% include "django/forms/widgets/attrs.html" %} />
{% endif %}
